@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  color: #000000;
}

.App{
  max-height: 100%;
  max-width: 100%;
  /* display:block; */
  /* background-color: aqua; */
}
.App::-webkit-scrollbar {
  width: 0.5em; 
}
.navbar {
  height: 12vh;
  display: flex;
  align-items:center;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #f2f2f2;
  /* background-color: lightblue; */
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}



.container-main{
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
}

.display{
  width:75%;
  background-color: #ddd;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .display::-webkit-scrollbar {
  width: 0.5em; /* Set this to 0 to hide the scrollbar */
}

 .display-child
 {
  padding: 50px;
 }

 
.content{

  max-width: auto;
  min-width: 25%;
  overflow: auto;
}
.content::-webkit-scrollbar {
  width: 0.5em; /* Set this to 0 to hide the scrollbar */
}
.content-child {
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* create new blog form */
.form-container
{
  height: 450px;
  width: 450px;
  background-color: #fbf9f9;
  border-radius: 15px;
  border: solid #ddd 1px;
}
.create {
  padding-top: 50px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  /* background-color: #ddd; */
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-details button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  text-align: justify;
  text-justify: inter-word;
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.not-found{
  text-align: center;
}
.not-found h2{
  padding: 10px;
}
.not-found p{
  padding: 10px;
}

.not-found a{
  text-decoration: none;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

